node-red-test-flow.json
[{"id":"c11a2821.0eca18","type":"tab","label":"Test Light Control","disabled":false,"info":"Just beginning"},{"id":"bc55d490.638418","type":"mqtt in","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","broker":"c3ae2352.60f12","x":411.5,"y":33,"wires":[["840e9dd2.bfcf8"]]},{"id":"e1b75458.cb055","type":"mosca in","z":"c11a2821.0eca18","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":179.5,"y":31,"wires":[[]]},{"id":"840e9dd2.bfcf8","type":"debug","z":"c11a2821.0eca18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":625,"y":28,"wires":[]},{"id":"aaf50df5.43474","type":"inject","z":"c11a2821.0eca18","name":"white","topic":"","payload":"{\"brightness\":255,\"color\":{\"r\":255,\"g\":255,\"b\":255},\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":87,"y":280,"wires":[["49817115.8c0bf"]]},{"id":"49817115.8c0bf","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":280,"y":280,"wires":[]},{"id":"e37faff1.ef725","type":"inject","z":"c11a2821.0eca18","name":"OFF","topic":"","payload":"{\"effect\":\"\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":472.25,"y":91,"wires":[["c6afdbd0.d2a018"]]},{"id":"c6afdbd0.d2a018","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":664.25,"y":90,"wires":[]},{"id":"81483d49.af6f2","type":"inject","z":"c11a2821.0eca18","name":"bpm","topic":"","payload":"{\"effect\":\"bpm\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":470.25,"y":154,"wires":[["51aa2c2d.4a2894"]],"icon":"node-red/trigger.png"},{"id":"51aa2c2d.4a2894","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":662.25,"y":155,"wires":[]},{"id":"e6480e6d.6ea6c","type":"inject","z":"c11a2821.0eca18","name":"candy cane.","topic":"","payload":"{\"effect\":\"candy cane\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":487.25,"y":206,"wires":[["f75e0c57.467f2"]],"icon":"node-red/trigger.png"},{"id":"f75e0c57.467f2","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":659.25,"y":207,"wires":[]},{"id":"6e986c4d.7dbbd4","type":"inject","z":"c11a2821.0eca18","name":"confetti","topic":"","payload":"{\"effect\":\"confetti\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":466.25,"y":243,"wires":[["1f125d0e.89d173"]],"icon":"node-red/trigger.png"},{"id":"1f125d0e.89d173","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":658.25,"y":244,"wires":[]},{"id":"f55e7909.b38298","type":"inject","z":"c11a2821.0eca18","name":"cyclon rainbow","topic":"","payload":"{\"effect\":\"cyclon rainbow\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":497.25,"y":277,"wires":[["a8f99885.c29998"]],"icon":"node-red/trigger.png"},{"id":"a8f99885.c29998","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":659.25,"y":278,"wires":[]},{"id":"44359833.e078e8","type":"inject","z":"c11a2821.0eca18","name":"dots","topic":"","payload":"{\"effect\":\"dots\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":465.25,"y":314,"wires":[["4e70ab46.2b4a54"]],"icon":"node-red/trigger.png"},{"id":"4e70ab46.2b4a54","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":657.25,"y":315,"wires":[]},{"id":"17e3783c.34b978","type":"inject","z":"c11a2821.0eca18","name":"fire","topic":"","payload":"{\"effect\":\"fire\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":465.25,"y":348,"wires":[["b9712fc2.0c2fb"]],"icon":"node-red/trigger.png"},{"id":"b9712fc2.0c2fb","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":657.25,"y":349,"wires":[]},{"id":"a1335c1f.a185a","type":"inject","z":"c11a2821.0eca18","name":"glitter","topic":"","payload":"{\"effect\":\"glitter\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":466.25,"y":382,"wires":[["b478ed58.c0ac2"]],"icon":"node-red/trigger.png"},{"id":"b478ed58.c0ac2","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":658.25,"y":383,"wires":[]},{"id":"df359b95.1d0b18","type":"inject","z":"c11a2821.0eca18","name":"juggle","topic":"","payload":"{\"effect\":\"juggle\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":462.25,"y":417,"wires":[["aa015582.ee2c58"]],"icon":"node-red/trigger.png"},{"id":"aa015582.ee2c58","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":654.25,"y":418,"wires":[]},{"id":"efa5c135.32c56","type":"inject","z":"c11a2821.0eca18","name":"lightning.","topic":"","payload":"{\"effect\":\"lightning\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":475.25,"y":452,"wires":[["1e917ab7.4d0855"]],"icon":"node-red/trigger.png"},{"id":"1e917ab7.4d0855","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":657.25,"y":453,"wires":[]},{"id":"b97fd290.dca34","type":"inject","z":"c11a2821.0eca18","name":"police all.","topic":"","payload":"{\"effect\":\"police all\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":472.25,"y":487,"wires":[["39c2a33d.1eeedc"]],"icon":"node-red/trigger.png"},{"id":"39c2a33d.1eeedc","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":654.25,"y":488,"wires":[]},{"id":"6f7dd3e0.12466c","type":"inject","z":"c11a2821.0eca18","name":"police one","topic":"","payload":"{\"effect\":\"police one\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":468.25,"y":521,"wires":[["3df8f2d7.5159ee"]],"icon":"node-red/trigger.png"},{"id":"3df8f2d7.5159ee","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":653.25,"y":522,"wires":[]},{"id":"6a474c72.1a4114","type":"inject","z":"c11a2821.0eca18","name":"rainbow","topic":"","payload":"{\"effect\":\"rainbow\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":462.25,"y":557,"wires":[["c9b2c93c.5105e8"]],"icon":"node-red/trigger.png"},{"id":"c9b2c93c.5105e8","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":654.25,"y":558,"wires":[]},{"id":"e43d348f.ad82d8","type":"inject","z":"c11a2821.0eca18","name":"rainbow with glitter","topic":"","payload":"{\"effect\":\"rainbow with glitter\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":507.25,"y":593,"wires":[["479de2d4.dc754c"]],"icon":"node-red/trigger.png"},{"id":"479de2d4.dc754c","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":659.25,"y":594,"wires":[]},{"id":"c828f4d7.48bd98","type":"inject","z":"c11a2821.0eca18","name":"sinelon.","topic":"","payload":"{\"effect\":\"sinelon\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":463.25,"y":631,"wires":[["2fe2cf41.7f5a8"]],"icon":"node-red/trigger.png"},{"id":"2fe2cf41.7f5a8","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":655.25,"y":632,"wires":[]},{"id":"f007e22f.ab4cc","type":"inject","z":"c11a2821.0eca18","name":"twinkle","topic":"","payload":"{\"effect\":\"twinkle\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":465.25,"y":669,"wires":[["e1ae227c.b5139"]],"icon":"node-red/trigger.png"},{"id":"e1ae227c.b5139","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":657.25,"y":670,"wires":[]},{"id":"dc14e99b.9e2d58","type":"inject","z":"c11a2821.0eca18","name":"noise","topic":"","payload":"{\"effect\":\"noise\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":463.25,"y":708,"wires":[["6e560aa8.6b6944"]],"icon":"node-red/trigger.png"},{"id":"6e560aa8.6b6944","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":655.25,"y":709,"wires":[]},{"id":"91344447.5cc838","type":"inject","z":"c11a2821.0eca18","name":"ripple","topic":"","payload":"{\"effect\":\"ripple\",\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":468.25,"y":745,"wires":[["786f050e.a1f9ec"]],"icon":"node-red/trigger.png"},{"id":"786f050e.a1f9ec","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":660.25,"y":746,"wires":[]},{"id":"37aa61be.aafe1e","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":289.25,"y":337,"wires":[]},{"id":"724bb87b.abaa88","type":"inject","z":"c11a2821.0eca18","name":"OFF","topic":"","payload":"{\"brightness\":0,\"color\":{\"r\":0,\"g\":0,\"b\":0},\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":84.25,"y":340,"wires":[["37aa61be.aafe1e"]]},{"id":"b581a9e1.0b23e8","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":281.75,"y":219,"wires":[]},{"id":"f6793a63.701728","type":"inject","z":"c11a2821.0eca18","name":"green","topic":"","payload":"{\"brightness\":255,\"color\":{\"r\":0,\"g\":255,\"b\":0},\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":88.75,"y":219,"wires":[["b581a9e1.0b23e8"]]},{"id":"f58c1f6c.f3ce3","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":282.75,"y":155,"wires":[]},{"id":"11e4b025.11452","type":"inject","z":"c11a2821.0eca18","name":"red.","topic":"","payload":"{\"brightness\":255,\"color\":{\"r\":255,\"g\":0,\"b\":0},\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.75,"y":155,"wires":[["f58c1f6c.f3ce3"]]},{"id":"a092ac8a.54513","type":"mqtt out","z":"c11a2821.0eca18","name":"","topic":"bruh/porch/set","qos":"2","retain":"false","broker":"c3ae2352.60f12","x":282.25,"y":89,"wires":[]},{"id":"32143b07.92ea34","type":"inject","z":"c11a2821.0eca18","name":"blue","topic":"","payload":"{\"brightness\":255,\"color\":{\"r\":0,\"g\":0,\"b\":255},\"state\":\"ON\"}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":89.25,"y":89,"wires":[["a092ac8a.54513"]]},{"id":"82db3f64.329f4","type":"mqtt in","z":"c11a2821.0eca18","name":"","topic":"bruh/sound","qos":"2","broker":"c3ae2352.60f12","x":71,"y":483,"wires":[["9c223c16.37046"]]},{"id":"9c223c16.37046","type":"debug","z":"c11a2821.0eca18","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":252,"y":508,"wires":[]},{"id":"c3ae2352.60f12","type":"mqtt-broker","z":"","name":"MQTT SERVER","broker":"192.168.1.22","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"2","birthQos":"0","birthRetain":"false","birthPayload":"","closeTopic":"","closeQos":"0","closeRetain":"false","closePayload":"","willTopic":"","willQos":"0","willRetain":"false","willPayload":""}]
